// Here you can add other styles
@import "vue-select/src/scss/vue-select.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

input {
    color: #768192;
}

.tooltip-old-inner {
    max-width: none !important;
  }

button.kb {
    background-color: transparent;
    border: 0
}

.kb {
    float: right;
    font-size: 1.3125rem;
    font-weight: 700;
    line-height: 1;
    opacity: .5;
    color: #000015;
    text-shadow: 0 1px 0 #fff;
}

.c-sidebar-backdrop {
    background-color:rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1051;
}

.admonition {
    border-right: 1px solid #cfcfcf;
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    padding-top:10px;
    padding-bottom:10px;
}

.event-stats-div {
    padding-right:20px;
    padding-top: 5px;
    font-size: 13px;
    padding-bottom: 10px;
    min-height:150px;
    max-height:150px; 
}

.event-stats-container {
    margin-left: 0px;
    margin-right: 0px;
}

.event-stats-container > .event-stats-picker {
    padding-left: 10px;
    padding-right: 10px;
}

.event-stats-container > .event-stats-picker ~ .event-stats-picker {
    padding-left: 10px;
    padding-right: 0px;
}

.event-stats-row {
    display: -webkit-box;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

::-webkit-scrollbar-track {
    background-color: #f9f9f9;
    border-radius: 100px;

}

::-webkit-scrollbar-thumb {
    border: 2px solid #f9f9f9;
    background-color: #636f83;
    border-radius: 100px;

    //box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.event-stats-picker {
    
    min-width: 0px;
    width: 20%;
    padding-top: 10px;
    border-right: 1px solid rgb(216, 219, 224);
}

.event-stats-title {
    text-transform: capitalize;
}

.cases-picker-card {
    border-radius:0px;
    padding:10px;
    margin-bottom:0px;
    border-left: 0px;
    border-top:0px;
    border-right: 0px;
}

.table {
    margin-bottom: 0px !important;
}

tbody {
    /* THIS IS SUPER HACKY I NEED TO FIX THIS - This is the only way
    that a dropdown menu on a table filter wont be hidden if there arent
    many items in the table */
    height: 161px !important; 
}

/*.card {
    border-radius: 0px !important;
}*/

.card-header {
    border-left: 3px solid rgb(60, 75, 100) !important;
    //border-radius: 0px !important;
}

/*.card-body {
    border-radius: 0px !important;
}

.card-footer {
    border-radius: 0px !important;
}*/

.dropbox {
    outline: 2px dashed grey; /* the dash box */
    outline-offset: -10px;
    background: lightcyan;
    color: dimgray;
    padding: 10px 10px;
    min-height: 200px; /* minimum height */
    position: relative;
    cursor: pointer;
  }

  .input-file {
    opacity: 0; /* invisible but it's there! */
    width: 100%;
    height: 200px;
    position: absolute;
    cursor: pointer;
  }

  .dropbox:hover {
    background: ligh#0073E6; /* when mouse over to the drop zone, change color */
  }

  .dropbox p {
    font-size: 1.2em;
    text-align: center;
    padding: 50px 0;
  }

a {
    text-decoration: none !important;
}

.vs__selected {
    border-radius: 0px;
    text-transform: lowercase;
    color: #768192
}

.vs__dropdown-option--selected {
    color: #b8b8b8;
}


.btn {
    box-shadow: 0 1px 1px 0 rgba(60,75,100,.14), 0 2px 1px -1px rgba(60,75,100,.12), 0 1px 3px 0 rgba(60,75,100,.2)
}

.no-shadow {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.stepper {
    width:100%;
    display: table;
    padding-top: 5px;
    padding-bottom: 5px;
    table-layout: fixed;
}

.stepper .step {
    display: table-cell;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.step > button {
    display: inline-block;
    width:100%;
    height:100%;
    border: none;
    background: transparent;
}

.step > button:focus {
    display: inline-block;
    width:100%;
    height:100%;
    border: none;
    outline: none;
    background: transparent;
}

.stepper .step .step-icon {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 5px;
    background-color: #cfcfcf;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 1px 1px 0 rgba(60,75,100,.14), 0 2px 1px -1px rgba(60,75,100,.12), 0 1px 3px 0 rgba(60,75,100,.2)
}

.stepper .step:hover .step-icon {
    background-color: #2a1ab9;
}

.stepper .step.active .step-icon {
    background-color: #321fdb;
}

.stepper .step.complete .step-icon {
    background-color: #26994d;
    border-color: #248f48;
    border: 1px solid;
    content: "C";
}

.stepper .step .md-step-bar-left,
.stepper .step .md-step-bar-right {
	position:absolute;
	top:25px;
	height:1px;
	border-top:2px solid #DDDDDD;
}

.stepper .step .step-label {
    display: inline;
    top: 50px;
    padding-left: 5px;
}

.stepper .step .md-step-bar-right {
	right:0;
	left:50%;
	margin-left:20px;
}

.stepper .step .md-step-bar-left {
	left:0;
	right:50%;
	margin-right:20px;
}

.pre-formatted {
    white-space: pre;
}

.console-output {
    padding:10px;
}

.tab-pane .table {
    margin-bottom:0px;
}

.raw_log {
    width: 100%;
    min-height: 30rem;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.8rem;
    line-height: 1.2;
    max-height: 400px
}

.prewrap {
    white-space: pre-wrap; 
    word-wrap: break-word;
}

.tag {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: normal;
}

.tag-clickable {
    cursor: pointer;
}

.tag-list {
    margin-top: 1px;
    //font-size: .7rem !important;
}

.badge.tag {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: normal;
    line-height: 1.5;
    font-size: 0.76563rem
}

label {
    font-weight:500;
}

.danger-accent {
    border-left: 10px solid red;
}

.warning-accent {
    border-left: 10px solid yellow;
}

.success-accent {
    border-left: 10px solid green;
}

.tools {
  height: 30px;
  padding: 5px 10px;
  background: #333;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-425%, -700%);
  transition: 0.2s all;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tools:after {

  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-425%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #333;
}

.item {
  color: #FFF;
  cursor: pointer;
} 

.item path {
  fill: #FFF;
}

.item:hover path {
  fill: #1199ff;
}

.item:hover {
  color: #1199ff;
}

.item + .item {
  margin-left: 10px;
}

.table-responsive {
    height:auto;
}

.comments .timeline .timeline-item {
    padding-bottom: 0px;
}

.tabbed > .nav, .nav-tabs {
    border-bottom: 1px solid #d8dbe0;
}

.tabbed > .nav, .nav-tabs li:first-child .nav-link {
    border-left:0px;
    border-top:0px;
}

.tabbed > .nav, .nav-tabs .nav-link {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    background-color: white;
    border-top: 0px;
    border-bottom: 1px solid #d8dbe0;
    color: #000;
}

.tabbed > .tab-content, .tab-pane th {
    border-top: 0px;
}

.tabbed > .nav, .nav-tabs .nav-link.active {
    background-color: $secondary;
    color: white;
}

.timeline-circle {
    left: -33px;
}

.tabbed {
    padding:0px;
}

.fullscreen {
    background:red;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
  }

.card-header {
    background-color: white !important;
}

.vue-simple-context-menu__item {
    font-size: 14px !important;
    padding: 2px 10px !important;
}

.vue-simple-context-menu {
    background-color: white !important;
    border: 1px solid #d8dbe0 !important;
    
}

.escalated {
    color: red;
}

/* WCAF OVERRIDES */

.breadcrumb-item.active {
    color: #6B7485;
}

.text-muted {
    color: #6B7485 !important;
}

.text-warning {
    color: #966703 !important;
}

.text-success {
    color: #228743 !important;
}

.text-danger {
    color: #DF2A2A !important;
}

.text-info {
    color: #0073E6 !important;
}
.form-control {
    color: #6B7785 !important;
}

.btn-secondary, .badge-secondary {
    color: #445964 !important;
}

.btn-info {
    background-color: #0073E6 !important;
}

.btn-danger {
    background-color: #EB0000 !important;
}

.badge-warning, .btn-warning {
    color: #404F5E !important;
}

.page-item .disabled {
    color: #6B7785 !important;
}

html:not([dir="rtl"]) nav >  .pagination {
    padding-left: 25px !important;
  }

.observable-popover {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: fixed;
    padding: 0px;
    z-index: 9999;
//max-width: 40% !important;
    bottom: 0;
    right: 0;
    min-height:400px;
    width: 50%;
    left: unset !important;
    box-shadow: 0 1px 1px 0 rgba(60,75,100,.14), 0 2px 1px -1px rgba(60,75,100,.12), 0 1px 3px 0 rgba(60,75,100,.2)
}

.observable-popover-spinner {
    
        display: flex;
        align-items: center;
    
}

.absolute-middle {
    display: flex;
  align-items: center;
  justify-content: center;
}

.logo-spinner {
    animation: rotation 1.5s infinite linear;
    width: 25%;
    height: 25%;
    text-align: center;
    opacity: 0.25;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.c-multi-select-options {
    max-height: 400px;
    overflow-y: auto;
}