// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";
//@import "~@coreui/coreui-pro/scss/coreui";

// If you want to add something do it here
@import "custom";

@import "~@coreui/coreui-pro/css/multi-select.css";

.card-header:not(.content-center) > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}

.reflex-card {
  border-radius: 5px;
  border: 1px solid #d8dbe0;
  background-color: white;
  padding: 10px;
}

.field-group-header {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: #6c757d;
  margin-left: -10px;
  margin-right: -10px;
  padding: 5px 5px 5px 15px;
}

.field-picker-item {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 5px;
  color: #6c757d;
  margin-left: -10px;
  margin-right: -10px;
  padding: 5px 5px 5px 15px;
  cursor: pointer;
}

.reflex-badge {
  padding: 0.25rem 0.4rem;
  border-radius: 0.25rem;
  font-weight: 400;
  line-height: 1;
  font-size: 0.7rem;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  vertical-align: baseline;
  font-family: inherit;
}

.field-picker-show, .field-picker-hide {
  float:right;
  padding-right: 10px;
  visibility: hidden;
}

.field-picker-item:hover .field-picker-show {
  visibility: visible;
}

.field-picker-item:hover .field-picker-hide {
  visibility: visible;
}

.reflex-badge-info {
  color: #fff;
  background-color: $info;
}

.reflex-badge-secondary {
  color: #494949;
  background-color: #cfcfcf;
}